/* all */
a{
  text-decoration: none;
  color: black;
}

/* header */
.header{
  background-color:#FFCCFF;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title{
  text-align: center;
}

.title-text{
  font-size: 30px;
}

.title-subtext{
  font-size: 20px;
}

.right-header{
  border: 1px solid black;
  padding: 5px;
  background-color: white;
}

/* footer */
.footer{
  background-color:#CCFFCC;
  padding: 10px 0px;
  text-align: center;
}

/* registration */
/* absence/new */
.field{
  margin-bottom: 15px;
}

.input{
  padding: 5px 0px;
}

.input-label{
  font-size: 18px;
  font-weight: bold;
}

.facility,
.reason{
  padding-right: 10px;
}

.mail{
  width: 400px;
}

.actions{
  margin-top: 30px;
}

.input-subtext{
  font-size: 15px;
}

.timewhen{
  display: inline;
}

/* home */
.menu-top,
.menu-bottom{
  display: flex;
  text-align: center;
}

.button-contact{
  width: 50%;
  border: 1px solid black;
  padding: 30px 0px;
}

.button-message{
  width: 50%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 30px 0px;
}

.button-event{
  width: 50%;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 30px 0px;
}

.button-absence{
  width: 50%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 30px 0px;
}

.menu-title{
  padding-top: 10px;
}

/* rooms/show */
.left-message{
  text-align: left;
}

.right-message{
  text-align: right;
}