/* all */
a{
  text-decoration: none;
  color: black;
}

/* header */
.header{
  background-color:#FFCCFF;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title{
  text-align: center;
}

.title-text{
  font-size: 30px;
}

.title-subtext{
  font-size: 20px;
}

.right-header{
  border: 1px solid black;
  padding: 5px;
  background-color: white;
}

/* footer */
.footer{
  background-color:#CCFFCC;
  padding: 10px 0px;
  text-align: center;
}

/* registration */
/* absence/new */
.field{
  margin-bottom: 15px;
}

.input{
  padding: 5px 0px;
}

.input-label{
  font-size: 18px;
  font-weight: bold;
}

.facility,
.reason{
  padding-right: 10px;
}

.mail{
  width: 400px;
}

.actions{
  margin-top: 30px;
}

.input-subtext{
  font-size: 15px;
}

.timewhen{
  display: inline;
}

.status{
  width: 250px;
}

/* home */
.menu-top,
.menu-bottom{
  display: flex;
  text-align: center;
}

.button-contact{
  width: 50%;
  border: 1px solid black;
  padding: 30px 0px;
}

.button-message{
  width: 50%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 30px 0px;
}

.button-event{
  width: 50%;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 30px 0px;
}

.button-absence{
  width: 50%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 30px 0px;
}

.menu-title{
  padding-top: 10px;
}

/* index共通 */
.new-addition{
  width: 150px;
  border: 1px solid black;
  padding: 5px;
  margin: 20px 0px;
  text-align: center;
}

/* new/edit共通 */
.bottan-list{
  display: flex;
  justify-content: space-around;
}

.bottan-index{
  width: 150px;
  background-color: #CCFFFF;
  border: 1px solid black;
  padding: 5px;
  margin-top: 35px;
  text-align: center;
}

.bottan-edit{
  width: 150px;
  background-color: #CCFFCC;
  border: 1px solid black;
  padding: 5px;
  margin-top: 35px;
  text-align: center;
}

.bottan-destroy{
  width: 150px;
  background-color: #FFFFCC;
  border: 1px solid black;
  padding: 5px;
  margin-top: 35px;
  text-align: center;
}

/* contacts/index */
.contact-list{
  border: 1px solid black;
  margin-bottom: 1px;
  padding: 5px;
}

.contact-subject{
  font-size: 25px;
}

/* contacts/new */
.input-subject{
  width:90%;
  padding: 5px 0px;
}

.input-contents{
  width:90%;
}

/* rooms/show */
.left-message{
  text-align: left;
}

.right-message{
  text-align: right;
}

/* absence/index */
.absence-list{
  margin-bottom: 1px;
  display: flex;
}

.absence-when{
  border: 1px solid black;
  padding: 5px 10px;
  width: 21%;
}

.absence-name{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 5px 10px;
  width: 19%;
}

.absence-item{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 5px 10px;
  width: 6%;
}

.absence-time{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 5px 10px;
  width: 20%;
}

.absence-status{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 5px 10px;
  width: 28%;
}